*body {
  color: black;
}

.website {
  color: #3a4d2;
  margin-left: 20px;
  background-color: coral;
}

.mainHeader {
  
}

.theDivide {
  
}

a[href^="#"] {
  background-color: gold;
}

a:link {
  color: #FF0000;
}

p.intro {
  background-color: yellow;
}
