*body {
  font-size: 1cm;
  color: black;
}

.website {
  color: #3a4d2;
  margin-left: 20px;
  background-color: coral;
  border-style: solid;
  border-color: green;
  border-width: thin;
  border-radius: 10px 20px;
}

h1 {
  margin-top: 70px;
  border: 1px solid #4CAF50;
  font-size: 1.5cm;
}

span {
  margin: 25px;
  font-size: 0.5em;
}

.mainHeader {
  font-size: .2ex;
  padding-bottom: 50px
}

.theDivide {
  margin: auto;
  font-size: 1cm;
  padding: 25px;
}

a[href^="#"] {
  background-color: gold;
}

a:link {
  color: #FF0000;
}

p.intro {
  font-size: .5em;
  background-color: yellow;
}
