*body {
  font-size: 1cm;
  color: black;
}

.none {
  display: none;
}

.inDisplay {
  display: inline;
  max-width: 50%;
}

.website {
  color: #3a4d2;
  margin-left: 20px;
  background-color: coral;
  border-style: solid;
  border-color: green;
  border-width: thin;
  border-radius: 10px 20px;
}

.flex-container > div {
  background-color: #1f1f1f;
  align-items: stretch;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: green;
}

h1 {
  margin-top: 70px;
  position: static;
  height: auto;
  width: auto;
  border: 1px solid #4CAF50;
  font-size: 1.5cm;
}

span {
  margin: 25px;
  font-size: 0.5em;
}

.mainHeader {
  font-size: .2ex;
  padding-bottom: 50px;
  text-decoration: overline;
  position: relative;
}

.theDivide {
  margin: auto;
  font-size: 1cm;
  padding: 25px;
}

a[href^="#"] {
  background-color: gold;
}

a:link {
  color: #FF0000;
}

a:hover {
  color: #FF00FF;
}

a:active {
  color: #0000FF;
}

p.intro {
  font-size: .5em;
  background-color: yellow;
  text-align: justify;
}
